<tr>
  <td><%= order.id %></td>
  <td><%= order.created_at %></td>
  <td><ul class="list-group">
    <% order_items.each do |order_item| %>
      <li class="list-group-item"><%= order_item.product_name %></li>
    <% end %>
  </ul>
  </td>
  <td><ul class="list-group">
    <% order_items.each do |order_item| %>
      <li class="list-group-item"><%= order_item.quantity %></li>
    <% end %>
  </ul>
  </td>
  <td><%= order.address %></td>
  <td>
    <%= form_for(:order,url:admin_orders_path(order_id:order.id),method:'put') do |f| %>
      <%= f.text_field :id, value: order.id, class:'hidden' %>
      <%= f.select(:status, options_for_select([['initiated'],['in_transit'],['recieved']], order.status) )%>
      <%= f.submit "update" , class: 'btn btn-link'%>
    <% end %>
  </td>
  <td><%= order.status %></td>
  <td></td>
</tr>